{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block content %}

<div class="container p-5">
    <div class="card mb-3" style="border-radius: .5rem;">
        <div class="row g-0">
            <div class="col-md-4 text-center text-white bg-primary py-4"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                {% if profile.avatar %}
                <img src="{{ profile.avatar.url }}" alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                {% else %}
                <img src="{% static 'images/user.svg' %}" alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                {% endif %}
                <h5>{{ profile.user.username }}</h5>
                <p>{{ profile.bio }}</p>
                <a href="{% url 'users:profile_update' %}">
                    <img src="{% static 'images/edit.svg' %}" alt="">
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body p-4">
                    <h6>Information</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row pt-1">
                        <div class="col-6 mb-3">
                            <h6>Email</h6>
                            <p class="text-muted">{{ profile.user.email }}</p>
                        </div>
                        <div class="col-6 mb-3">
                            <h6>Store</h6>
                            <a href="{% url 'stores:store_detail' slug=profile.user.store.slug %}">
                                <p class="text-muted">{{ profile.user.store }}</p>
                            </a>
                        </div>
                    </div>

                    <div class="d-flex justify-content-start">
                        <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                        <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                        <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}