{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom mb-2 nav-pallette">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main:home' %}">Chambeadores's Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'products:category_list' %}">Categories</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Stores
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'stores:store_my_store' %}">My Store</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'stores:store_list' %}">Stores</a></li>
                    </ul>
                </li>
            </ul>

            <ul>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products:wishlist_list' %}">
                        <img src="{% static 'images/cart.svg' %}" height="25px">
                        Cart
                    </a>
                </li>
            </ul>

            <ul>
                <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
                    <div class="vr d-none d-lg-flex h-100 mx-lg-2"></div>
                    <hr class="d-lg-none my-2">
                </li>
            </ul>

            <ul>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="{% static 'images/user.svg' %}" height="25px">
                        Menu
                    </a>
                    <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                        <li>
                            <a class="dropdown-item" href="{% url 'users:profile' %}">{{ user.username }}'s Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li>
                            <a class="dropdown-item" href="{% url 'users:login' %}">Login</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'users:register' %}">Register</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>

            <ul>
                <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
                    <div class="vr d-none d-lg-flex h-100 mx-lg-2"></div>
                    <hr class="d-lg-none my-2">
                </li>
            </ul>

            <!-- dark mode siwtch -->
            <ul>
                <li class="nav-item dropdown">
                    <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
                        id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown"
                        data-bs-display="static" aria-label="Toggle theme (auto)">
                        <img src="{% static 'images/theme.svg' %}" alt="">
                        <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
                        <li>
                            <a type="button" id="light-theme" class="dropdown-item d-flex align-items-center">
                                <img class="mx-2" src="{% static 'images/sun.svg' %}" alt="">
                                Light
                                <svg class="bi ms-auto d-none">
                                    <use href="#check2"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a type="button" id="dark-theme" class="dropdown-item d-flex align-items-center">
                                <img class="mx-2" src="{% static 'images/moon.svg' %}">
                                Dark
                                <svg class="bi ms-auto d-none">
                                    <use href="#check2"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- dark mode siwtch -->


        </div>
    </div>
</nav>