{% extends 'base.html' %}
{% load static %}
{% block title %}Wishlist{% endblock %}

{% block content %}
<div class="container">
    <h1 class="d-block text-center">Wishlist</h1>
    <div class="p-3">

        {% for product in products %}

        <a href="{% url 'products:product_detail' slug=product.product.slug category=product.product.category %}">
            <div class="card mb-3 mx-auto" style="max-width: 900px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        {% if product.product.image %}
                        <img src="{{ product.product.image.url }}" class="image-fluid rounded-start"
                            style="min-height: 300px; max-height: 300px;">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ product.product.name }}</h5>
                            <p class="card-text">{{ product.product.description }}</p>
                        </div>
                    </div>
                </div>

                <div class="m-3 text-center">
                    <!-- <a class="btn btn-primary mx-2"
                        href="{% url 'products:product_update' slug=product.product.slug %}">Edit</a> -->
                    <a class="btn btn-danger mx-2"
                        href="{% url 'products:wishlist_remove' wishlist_item=product.id %}">Delete</a>
                </div>
            </div>
        </a>

        {% endfor %}
    </div>
</div>
{% endblock %}