{% extends 'base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock %}

{% block content %}
<div class="container">
    <div class="card py-5">
        <div class="row">
            <div class="col-md-5 p-5">
                {% if product.image %}
                <img src="{{ product.image.url }}">
                {% endif %}
            </div>

            <div class="col-md-5 py-5">
                <div class="card-body">
                    <h2 class="card-title text-center">{{ product.name }}</h2>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">Category: {{ product.category.name }}</p>
                    <h4 class="card-tittle">{{ product.price }}$</h4>
                    <p class="card-text">{{ product.stock }} available</p>
                    <div class="text-center">
                        <!-- paypal buttons -->
                        <div id="paypal-button-container" class="container"></div>

                        <a href="{% url 'products:wishlist_add' slug=product.slug %}"
                            class="btn btn-secondary p-2 m-2">Add to my wishlist</a>
                    </div>
                </div>
            </div>

        </div>
        <a href="{% url 'reviews:review_product_list' id_product=product.id %}" class="btn btn-primary mx-5 my-1">See
            reviews</a>
        <a href="{% url 'reviews:review_product_create' id_product=product.id %}"
            class="btn btn-primary mx-5 my-1">Leave a review</a>



        <!-------------------------------------- paypal button scripts ------------------------------------------------------------->

        <!-- Include the PayPal JavaScript SDK -->
        <script src="https://www.paypal.com/sdk/js?client-id=AQ7rlKgckBWsOiilQiRfBw4FCeXtuDztA__MSSnS8RYwVa_nilupSjXqWeRmr5Zu7Q53sb1kTtWoEtXn&currency=USD"></script>

        <script>
            // Render the PayPal button into #paypal-button-container
            paypal.Buttons({

                // Set up the transaction
                createOrder: function (data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: '{{ product.price}}'
                            }
                        }]
                    });
                },

                // Finalize the transaction
                onApprove: function (data, actions) {
                    return actions.order.capture().then(function (details) {
                        // Show a success message to the buyer
                        alert('Transaction completed by ' + details.payer.name
                            .given_name + '!');
                    });
                }


            }).render('#paypal-button-container');
        </script>

        <!-------------------------------------- paypal button scripts ------------------------------------------------------------->

    </div>
</div>
{% endblock %}